{% extends "listings/base.html" %}
{% load static %}

{% block title %} Add Plot of Land {% endblock title %}
    
{% block content %}
<section class='container'>
    <h1> Add Plot of Land </h1>
    <form action='{% url "create_plot_of_land" %}' method='POST'>
        {% csrf_token %}

        {% for field in form %}
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
        {% endfor %}
        <button class='btn btn-success' type='submit'> Add </button>
    </form>
</section>
{% endblock content %}