{% extends "listings/base.html" %}
{% load static %}

{% block title %}{{ estate.title }}{% endblock title %}

{% block content %}
<section class='container bg-light mt-3'>
    <div id="slide" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="{{ estate.main_picture.url }}" class="w-100 h-100">
                  </div>
                  <div class="carousel-item">
                      <img src="{{ estate.picture1.url }}" class="w-100 h-100 d-block">
                  </div>
                  <div class="carousel-item">
                      <img src="{{ estate.picture2.url }}" class="w-100 h-100 d-block">
                  </div>
                  <div class="carousel-item">
                      <img src="{{ estate.picture3.url }}" class="w-100 h-100 d-block">
                  </div>
                  <div class="carousel-item">
                      <img src="{{ estate.picture4.url }}" class="w-100 h-100 d-block">
                  </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#slide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#slide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <h1> {{ estate.title }} </h1>
    <p>Realtor: {{ realtor.name }}<p>
    <p>Description: {{ estate.description }}</p>
    <p>Area: {{ estate.area }}</p>
    <p>Address: {{ estate.address }}</p>
    {% if is_plot %} <p>Zonning Type: {{ estate.zonning_type }}</p> {% endif %}
    <p>Home Type: {{ estate.home_type }}</p>
    <p>Bedrooms: {{ estate.bedrooms }}</p>
    <p>Bathrooms: {{ estate.bathrooms }}</p>
    <p>Price: {{ estate.price }}</p>
    {% if owner %}
        <div class='row'>
            <a class='col-1' href='{% url "update" estate.slug %}'><button class='btn btn-warning'> Update </button></a>
            <form class='col-1' action='{% url "delete" %}' method='POST'>
                {% csrf_token %}
                <input type='hidden' value='{{ estate.slug }}' name='estate_id'>
                <button class='btn btn-danger' type='submit'> Delete </button>
            </form> 
        </div>
    {% endif %}
    {% if not owner %}
        <form class='col-1' action='{% url "payment" %}' method='POST'>
            {% csrf_token %}
            <input type='hidden' value='{{ estate.slug }}' name='estate_slug'>
            <button class='btn btn-success' type='submit'> Buy </button>
        </form>
    {% endif %}
</section>
{% endblock content %}
